# Bloquer les PDF bruts de 3 Go
dataset/raw/pdf/

# Bloquer les fichiers de vecteurs trop lourds pour GitHub
dataset/processed/bow_vectors/*.pkl
dataset/processed/tfidf_vectors/*.pkl
dataset/processed/*.pkl

# Bloquer l'environnement virtuel et les caches
my_env/
.cache/
__pycache__/
*.pyc